<br>
<div class="container">
    <strong>Submit form after validation</strong>
    <br>
    <form #FormName="ngForm" (ngSubmit)="validateForm(FormName)">
        <div class="form-group">

            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                [(ngModel)]="formContent.email" required>
            <small id="emailHelp" style="color:red" *ngIf="emailError">Enter valid email id</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)]="formContent.pwd" minlength="5"
                maxlength="10" required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div style="color:red" *ngIf="hasError">
            Fill mandatory fields...
        </div>



        <input type="file" class="file-upload" onchange="console.log(event.target.files)">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>